{% extends 'base.html' %}
<!DOCTYPE html>


{% block content %}
<section class="section">
  <div class="container">
    <div class="is-flex is-justify-content-center is-align-items-center">
      <div class="has-text-centered">
        <h1 class="title is-2">HTTP 404</h1>
        <p class="subtitle is-4">
          Es ist etwas schiefgelaufen. Gehe zur Startseite.
        </p>
        {% if config.extra.author.avatar %}
        
        {% endif %}
        <p class="my-6">
          <a href="{{ config.base_url }}">
            <span class="icon">
              <i class="fas fa-home"></i>
            </span>
            <span>Startseite</span>
          </a>
        </p>
      </div>
    </div>
  </div>
</section>


{% endblock %}
